{% extends "base.html.twig" %}

{% block body %}
  <h1>About us</h1>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet consectetur adipiscing elit. Aenean sed adipiscing diam donec adipiscing tristique. Massa tempor nec feugiat nisl pretium. Bibendum ut tristique et egestas quis ipsum. Orci dapibus ultrices in iaculis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Faucibus et molestie ac feugiat sed lectus. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. In nisl nisi scelerisque eu ultrices.

Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Neque sodales ut etiam sit amet. Orci nulla pellentesque dignissim enim sit amet venenatis urna. Massa eget egestas purus viverra accumsan in. Orci sagittis eu volutpat odio. Ultricies lacus sed turpis tincidunt id aliquet risus. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Neque laoreet suspendisse interdum consectetur libero. Dolor purus non enim praesent elementum facilisis. Amet justo donec enim diam vulputate ut.</p>
{% endblock %}

{% block title %}{{ parent() }} | About{% endblock %}